@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.footer {
  /* Footer styles here */
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  /* Content styles here */
  display: flex;
  align-items: center;
}

.contact {
  /* Contact link styles here */
  margin-left: 20px;
  color: #333;
  text-decoration: none;
}

.legal {
  /* Legal links styles here */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.legal a {
  /* Legal link styles here */
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}


.scrolledUp {
  background-color: rgba(66, 66, 66, 0.173);
  backdrop-filter: blur(1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .display-format{
    @apply md:grid md:grid-cols-2 flex flex-col-reverse h-full px-4 md:p-0
  }

}

  